.header {
  width: 100%;
  height: 75px;
  background: #ffff;
  border-bottom: 1px solid #d1d7dc;
  .header__nav {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__nav__logo_block {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
      .header__nav_logo {
        width: 74px;
        height: 74px;
        margin-right: 15px;
      }
      h1 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 120%;
        color: #2c2d2e;
      }
      .link {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #2c2d2e;
        transition: 0.3s;
        margin-left: 40px;
        cursor: pointer;
      }
      .link_active {
        position: relative;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        transition: 0.3s;
        color: #4891FF;
        margin-left: 40px;
        cursor: pointer;
      }
      .link_active::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        transition: 0.3s;
        top: 44px;
        border: 4px solid #4891FF;
      }
      .link {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        margin-left: 40px;
        color: #2c2d2e;
        cursor: pointer;
      }
      
    }

    .header__nav__block {
      width: 270px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;

      .header__nav_language {
        width: 35px;
        height: 35px;
      }
    }
  }
}
