.login_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  .login_section__block {
    width: 450px;
    height: 466px;

    padding: 0 2% 0 2%;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    h1 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      margin-top: 20px;
      line-height: 130%;
      text-align: center;
      color: #2c2d2e;
    }
    .login_section__block__inputs {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		gap: 25px;
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #919399;
      }
    }
    h3 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
		margin: 13px 0 32px 0;
      color: #2c2d2e;
		cursor: pointer;
    }
  }
}
