.myinput {
  width: 100%;
  height: 46px;
  background: #ffffff;
  border: 2px solid rgba(0, 16, 61, 0.12);
  transition: 0.3s;
  outline: none;
  border-radius: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #919399;
}

.myinput:focus{
	border: 2px solid skyblue;
}
