.video_page_section{
	max-width: 1440px;
	width: 100%;
	height: 700px;
	margin: 0 auto;
	border: 1px solid black;
	.video_page_section__block{
		max-width: 1100px;
		width: 100%;
		video{
			width: 100%;
			height: 100%;
		}
	}
}
